html,
body {
  height: 100% !important;
  max-height: 100% !important;
}

#__nuxt {
  height: 100%;
}

#__nuxt > #__layout {
  height: 100%;
}

#__nuxt > #__layout > div {
  height: 100%;
}

.height-100 {
  height: 100%;
}

.disable-scroll {
  overflow: hidden;
  /*position: fixed;*/
  min-width: 100%;
  min-height: 100%;
}
